# Finding Station Locations

## Import the libraries

In [1]:
import pandas as pd
import numpy as np
import sys

print("Python Version:", sys.version)
print("Pandas Version:", pd.__version__)
print("Numpy Version:", np.__version__)

Python Version: 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas Version: 0.20.3
Numpy Version: 1.14.0

## Read in the data
### Read in station location data
We pulled station location data from the MTA website

In [2]:
stations = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

### Read in our cleaned turnstile data

In [4]:
turns = pd.read_pickle('data/cleaned_turnstile_data.pkl')
turns.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,entries_diff,exit_diff,first_row_group,entries_outlier,exit_outlier,week,hour,timegroup,timegroupstr,wkdaynbr
72507,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,05:00:00,REGULAR,669738,...,12.0,37.0,False,False,False,12,5,1,2 am - 6 am,6
72508,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,09:00:00,REGULAR,669845,...,107.0,21.0,False,False,False,12,9,2,6 am - 10 am,6
72509,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,13:00:00,REGULAR,669956,...,111.0,56.0,False,False,False,12,13,3,10 am - 2pm,6
72510,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,17:00:00,REGULAR,670074,...,118.0,95.0,False,False,False,12,17,4,2 pm - 6 pm,6
72511,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,21:00:00,REGULAR,670139,...,65.0,121.0,False,False,False,12,21,5,6 pm - 10 pm,6

### Read in a join table

As you might have noticed, there is not common field to merge the stations data with our turnstile data :( But don't worry!! We found a super handy table that links the station ID from the stations table to a booth id which corresponds to the control area id (c/a) in our turnstile data (Yay!!!) 

Let's read in that join table

*File downloaded from: https://docs.google.com/spreadsheets/d/10sz0xWODQ02Kemx6ovS0NLQ_gA0YV9YQtdD7uiCcyjI/edit?usp=sharing&authkey=CMTzrvwE*

In [5]:
join_table = pd.read_csv('data/Remote-Booth-Station - turnstiles 2013.csv')
join_table.head()

  Remote Booth stop_id.2013   Station.2013 Line.2013 Division.2013
0   R051  A002          R11  LEXINGTON AVE    456NQR           BMT
1   R050  A004          R11  LEXINGTON AVE    456NQR           BMT
2   R079  A006          R13    5 AVE-59 ST       NQR           BMT
3   R079  A007          R13    5 AVE-59 ST       NQR           BMT
4   R080  A010          R14    57 ST-7 AVE       NQR           BMT

## Join the turnstile data with station locations

### Join the stations data with our join file to get booth id

In [6]:
stations_booth = pd.merge(join_table ,stations,how='left',left_on='stop_id.2013',right_on='GTFS Stop ID')
stations_booth.head()

,Remote,Booth,stop_id.2013,Station.2013,Line.2013,Division.2013,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,R051,A002,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
1,R050,A004,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
2,R079,A006,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
3,R079,A007,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
4,R080,A010,R14,57 ST-7 AVE,NQR,BMT,9.0,9.0,R14,BMT,Broadway - Brighton,57 St - 7 Av,M,N Q R W,Subway,40.764664,-73.980658

In [7]:
missing = stations_booth['GTFS Latitude'].isnull().sum()

print("We're missing the stop id in our join table for {} stations".format(missing))
print("...but we have booth data for {} of our total stations!".format(round((len(stations_booth)-missing)/len(stations_booth),2)))

We're missing the stop id in our join table for 41 stations
...but we have booth data for 0.95 of our total stations!

### Join the turnstile data with our stations data

In [8]:
turns_loc = pd.merge(turns, stations_booth, how='inner',left_on='c/a',right_on='Booth')
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,05:00:00,REGULAR,669738,...,212.0,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509
1,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,09:00:00,REGULAR,669845,...,212.0,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509
2,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,13:00:00,REGULAR,669956,...,212.0,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509
3,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,17:00:00,REGULAR,670074,...,212.0,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509
4,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,21:00:00,REGULAR,670139,...,212.0,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509

In [9]:
missing_t = turns_loc['GTFS Latitude'].isnull().sum()

print("We're missing the corresponding c/a id for {} turnstile records".format(missing_t))
print("...but we have location data for {} of our total turnstile records!".format(round((len(turns_loc)-missing_t)/len(turns_loc),2)))

We're missing the corresponding c/a id for 369104 turnstile records
...but we have location data for 0.93 of our total turnstile records!

Check out the station names from the turnstile data and station loc data to make sure they agree

In [11]:
diff_stations = [(x, y) for x, y in zip(turns_loc['station'], turns_loc['Stop Name'])]
set(diff_stations)

{('AVENUE N', 'Avenue N'),
 ('VERNON-JACKSON', 'Vernon Blvd - Jackson Av'),
 ('TOMPKINSVILLE', 'Tompkinsville'),
 ('81 ST-MUSEUM', '81 St - Museum of Natural History'),
 ('175 ST', '175 St'),
 ('47-50 STS ROCK', '47-50 Sts - Rockefeller Ctr'),
 ('BUSHWICK AV', 'Bushwick Av - Aberdeen St'),
 ('BOROUGH HALL', 'Borough Hall'),
 ('NEWARK HM HE', nan),
 ('ASTOR PL', 'Astor Pl'),
 ('MT EDEN AV', 'Mt Eden Av'),
 ('CHAMBERS ST', 'Chambers St'),
 ('METROPOLITAN AV', 'Metropolitan Av'),
 ('BEACH 98 ST', nan),
 ('CORTELYOU RD', 'Cortelyou Rd'),
 ('NORWOOD 205 ST', 'Norwood - 205 St'),
 ('BEACH 90 ST', 'Beach 90 St'),
 ('BEDFORD-NOSTRAN', 'Bedford - Nostrand Avs'),
 ('BUHRE AV', 'Buhre Av'),
 ('NASSAU ST', 'Nassau Av'),
 ('JAMAICA 179 ST', 'Jamaica - 179 St'),
 ('40 ST LOWERY ST', '40 St'),
 ('225 ST', '225 St'),
 ('KOSCIUSZKO ST', 'Kosciuszko St'),
 ('CANARSIE-ROCKAW', 'Canarsie - Rockaway Pkwy'),
 ('WORLD TRADE CTR', 'World Trade Center'),
 ('YORK ST', 'York St'),
 ('SIMPSON ST', 'Simpson St'),
 ('KINGSTON AV', 'Kingston Av'),
 ('EASTCHSTER/DYRE', 'Eastchester - Dyre Av'),
 ('BEVERLEY ROAD', 'Beverley Rd'),
 ('75 AV', '75 Av'),
 ('NEWARK HW BMEBE', nan),
 ('JAMAICA VAN WK', 'Jamaica - Van Wyck'),
 ('MORGAN AV', 'Morgan Av'),
 ('HIGH ST', 'High St'),
 ('SUTTER AV-RUTLD', 'Sutter Av - Rutland Rd'),
 ('SARATOGA AV', 'Saratoga Av'),
 ('NEW LOTS AV', 'New Lots Av'),
 ('FLUSHING AV', 'Flushing Av'),
 ('182-183 STS', '182-183 Sts'),
 ('207 ST', '207 St'),
 ('ST. GEORGE', 'St George'),
 ('GREENPOINT AV', 'Greenpoint Av'),
 ('BERGEN ST', 'Bergen St'),
 ('ZEREGA AV', 'Zerega Av'),
 ('WHITLOCK AV', 'Whitlock Av'),
 ('145 ST', '145 St'),
 ('79 ST', '79 St'),
 ('INTERVALE AV', 'Intervale Av'),
 ('FRANKLIN ST', 'Franklin St'),
 ('WOODHAVEN BLVD', 'Woodhaven Blvd'),
 ('BEDFORD AV', 'Bedford Av'),
 ('23 ST', '23 St'),
 ('149/GRAND CONC', '149 St - Grand Concourse'),
 ('BRIGHTON BEACH', 'Brighton Beach'),
 ('66 ST-LINCOLN', '66 St - Lincoln Center'),
 ('E 149 ST', 'E 149 St'),
 ('168 ST', '168 St - Washington Hts'),
 ('86 ST', '86 St'),
 ('WOODLAWN', 'Woodlawn'),
 ('110 ST', '110 St'),
 ('77 ST', '77 St'),
 ('CARROLL ST', 'Carroll St'),
 ('BAY PKWY', 'Bay Pkwy'),
 ('238 ST', '238 St'),
 ('SENECA AVE', 'Seneca Av'),
 ('HUNTS POINT AV', 'Hunts Point Av'),
 ('GATES AV', 'Gates Av'),
 ('WEST FARMS SQ', 'West Farms Sq - E Tremont Av'),
 ('71 ST', '71 St'),
 ('104 ST', '104 St'),
 ('MARBLE HILL-225', 'Marble Hill - 225 St'),
 ('183 ST', '183 St'),
 ('JFK JAMAICA CT1', nan),
 ('LEXINGTON AV/63', 'Lexington Av/63 St'),
 ('CENTRAL PK N110', 'Central Park North (110 St)'),
 ('CLINTON-WASH AV', 'Clinton - Washington Avs'),
 ('CASTLE HILL AV', 'Castle Hill Av'),
 ('COURT SQ', 'Court Sq'),
 ('NASSAU AV', 'Nassau Av'),
 ('9 AV', '9 Av'),
 ('63 DR-REGO PARK', '63 Dr - Rego Park'),
 ('34 ST-HERALD SQ', '34 St - Herald Sq'),
 ('163 ST-AMSTERDM', '163 St - Amsterdam Av'),
 ('FLATBUSH AV-B.C', 'Flatbush Av - Brooklyn College'),
 ('NEW LOTS', 'New Lots Av'),
 ('FAR ROCKAWAY', 'Far Rockaway - Mott Av'),
 ('VAN SICLEN AV', 'Van Siclen Av'),
 ('ROCKAWAY PARK B', 'Rockaway Park - Beach 116 St'),
 ('EAST BROADWAY', 'East Broadway'),
 ('PRINCE ST', 'Prince St'),
 ('NEVINS ST', 'Nevins St'),
 ('61 ST WOODSIDE', 'Woodside - 61 St'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy'),
 ('ROOSEVELT ISLND', 'Roosevelt Island'),
 ('UNION ST', 'Union St'),
 ('BRIARWOOD', 'Briarwood - Van Wyck Blvd'),
 ('BEACH 67 ST', 'Beach 67 St'),
 ('39 AV', '39 Av'),
 ('BURNSIDE AV', 'Burnside Av'),
 ('MOSHOLU PKWY', 'Mosholu Pkwy'),
 ('215 ST', '215 St'),
 ('59 ST COLUMBUS', '59 St - Columbus Circle'),
 ('BEVERLY RD', 'Beverly Rd'),
 ('PARK PLACE', 'Park Pl'),
 ('21 ST-QNSBRIDGE', '21 St - Queensbridge'),
 ('STERLING ST', 'Sterling St'),
 ('36 ST', '36 St'),
 ('PATH WTC 2', nan),
 ('BAY 50 ST', 'Bay 50 St'),
 ('CLARK ST', 'Clark St'),
 ('BROAD CHANNEL', 'Broad Channel'),
 ('14 ST', '14 St'),
 ('BAY RIDGE-95 ST', 'Bay Ridge - 95 St'),
 ('HARRISON', nan),
 ('30 AV', '30 Av'),
 ('BOWERY', 'Bowery'),
 ('116 ST', '116 St'),
 ('WILSON AV', 'Wilson Av'),
 ('BRONX PARK EAST', 'Bronx Park East'),
 ('RALPH AV', 'Ralph Av'),
 ('135 ST', '135 St'),
 ('NEW UTRECHT AV', 'New Utrecht Av'),
 ('45 ST', '45 St'),
 ('14TH STREET', '14 St'),
 ('COURT SQ-23 ST', 'Court Sq'),
 ('HEWES ST', 'Hewes St'),
 ('MYRTLE-WYCKOFF', 'Myrtle - Wyckoff Avs'),
 ('CYPRESS AV', 'Cypress Av'),
 ('50 ST', 'Bay 50 St'),
 ('WESTCHESTER SQ', 'Westchester Sq - E Tremont Av'),
 ('GROVE STREET', nan),
 ('75 ST-ELDERTS', '75 St'),
 ('49 ST', '49 St'),
 ('WALL ST', 'Wall St'),
 ('137 ST CITY COL', '137 St - City College'),
 ('TREMONT AV', 'Tremont Av'),
 ('90 ST-ELMHURST', '90 St - Elmhurst Av'),
 ('KINGS HWY', 'Kings Hwy'),
 ('NEWKIRK PLAZA', 'Newkirk Plaza'),
 ('NEPTUNE AV', 'Neptune Av'),
 ('18 ST', '18 St'),
 ('190 ST', '190 St'),
 ('SUTPHIN BLVD', 'Sutphin Blvd - Archer Av - JFK Airport'),
 ('42 ST-PORT AUTH', '42 St - Port Authority Bus Terminal'),
 ('PARKSIDE AV', 'Parkside Av'),
 ('MARCY AV', 'Marcy Av'),
 ('TIMES SQ-42 ST', 'Times Sq - 42 St'),
 ('PROSPECT PARK', 'Prospect Park'),
 ('LONGWOOD AV', 'Longwood Av'),
 ('BAY RIDGE AV', 'Bay Ridge - 95 St'),
 ('VAN SICLEN AVE', 'Van Siclen Av'),
 ('DITMAS AV', 'Ditmas Av'),
 ('QUEENS PLAZA', 'Queens Plaza'),
 ('OZONE PK LEFFRT', 'Ozone Park - Lefferts Blvd'),
 ('AVENUE I', 'Avenue I'),
 ('5 AVE', '5 Av'),
 ('FRESH POND RD', 'Fresh Pond Rd'),
 ('NECK RD', 'Neck Rd'),
 ('HOYT-SCHER', 'Hoyt - Schermerhorn Sts'),
 ('57 ST', '57 St'),
 ('AQUEDUCT RACETR', 'Aqueduct - N Conduit Av'),
 ('MIDDLETOWN RD', 'Middletown Rd'),
 ('181 ST', '181 St'),
 ('NEREID AV', 'Nereid Av'),
 ('SUTPHIN-ARCHER', 'Sutphin Blvd'),
 ('CROWN HTS-UTICA', 'Crown Hts - Utica Av'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd - Lehman College'),
 ('METS-WILLETS PT', 'Mets - Willets Point'),
 ('ROCKAWAY BLVD', 'Rockaway Blvd'),
 ('34 ST-PENN STA', '34 St - Penn Station'),
 ('JEFFERSON ST', 'Jefferson St'),
 ('14 ST-UNION SQ', '14 St - Union Sq'),
 ('OCEAN PKWY', 'Ocean Pkwy'),
 ('42 ST-BRYANT PK', '42 St - Bryant Pk'),
 ('FRANKLIN AV', 'Franklin Av'),
 ('RECTOR ST', 'Rector St'),
 ('21 ST', '21 St'),
 ('KINGSBRIDGE RD', 'Kingsbridge Rd'),
 ('BEACH 105 ST', nan),
 ('DELANCEY/ESSEX', 'Delancey St'),
 ('176 ST', '176 St'),
 ('JACKSON AV', 'Jackson Av'),
 ('JUNIUS ST', 'Junius St'),
 ('121 ST', '121 St'),
 ('DEKALB AV', 'DeKalb Av'),
 ('155 ST', '155 St'),
 ('ELMHURST AV', 'Elmhurst Av'),
 ('PROSPECT AV', 'Prospect Av'),
 ("B'WAY-LAFAYETTE", 'Broadway-Lafayette St'),
 ('SHEPHERD AV', 'Shepherd Av'),
 ('ALLERTON AV', 'Allerton Av'),
 ('UTICA AV', 'Utica Av'),
 ('WHITEHALL S-FRY', 'Whitehall St'),
 ('E 180 ST', 'E 180 St'),
 ('LIBERTY AV', 'Liberty Av'),
 ('CLASSON AV', 'Classon Av'),
 ('67 AV', '67 Av'),
 ('68ST-HUNTER CO', '68 St - Hunter College'),
 ('METROPOLITAN AV', 'Middle Village - Metropolitan Av'),
 ('6 AV', '6 Av'),
 ('46 ST', '46 St'),
 ('8 AV', '8 Av'),
 ('MYRTLE AV', 'Myrtle Av'),
 ('DYCKMAN ST', 'Dyckman St'),
 ('PARSONS BLVD', 'Parsons Blvd'),
 ('RIT-MANHATTAN', nan),
 ('BOWLING GREEN', 'Bowling Green'),
 ('PATH WTC', nan),
 ('CHAUNCEY ST', 'Chauncey St'),
 ('BROOKLYN BRIDGE', 'Brooklyn Bridge - City Hall'),
 ('HOWARD BCH JFK', 'Howard Beach - JFK Airport'),
 ('JAY ST-METROTEC', 'Jay St - MetroTech'),
 ('8 ST-NYU', '8 St - NYU'),
 ('ELDER AV', 'Elder Av'),
 ('MYRTLE-WILLOUGH', 'Myrtle - Willoughby Avs'),
 ('167 ST', '167 St'),
 ('THIRTY ST', nan),
 ("E 143/ST MARY'S", "E 143 St - St Mary's St"),
 ('AVENUE H', 'Avenue H'),
 ('BEACH 36 ST', 'Beach 36 St'),
 ('CENTRAL AV', 'Central Av'),
 ('HOUSTON ST', 'Houston St'),
 ('PENNSYLVANIA AV', 'Pennsylvania Av'),
 ('157 ST', '157 St'),
 ('5 AV/59 ST', '5 Av/59 St'),
 ('51 ST', '51 St'),
 ('JAMAICA CENTER', 'Jamaica Center - Parsons/Archer'),
 ('BROADWAY', 'Broadway'),
 ('219 ST', '219 St'),
 ('GRAND-NEWTOWN', 'Grand Av - Newtown'),
 ('52 ST', '52 St'),
 ('ASTORIA DITMARS', 'Astoria - Ditmars Blvd'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy (110 St)'),
 ('CHRISTOPHER ST', 'Christopher St - Sheridan Sq'),
 ('BROAD ST', 'Broad St'),
 ('LORIMER ST', 'Lorimer St'),
 ('80 ST', '80 St'),
 ('NORTHERN BLVD', 'Northern Blvd'),
 ('ALABAMA AV', 'Alabama Av'),
 ('103 ST', '103 St'),
 ('NEWKIRK AV', 'Newkirk Av'),
 ('174-175 STS', '174-175 Sts'),
 ('FOREST HILLS 71', 'Forest Hills - 71 Av'),
 ('LAFAYETTE AV', 'Lafayette Av'),
 ('GRANT AV', 'Grant Av'),
 ('161/YANKEE STAD', '161 St - Yankee Stadium'),
 ('FT HAMILTON PKY', 'Fort Hamilton Pkwy'),
 ('CITY / BUS', nan),
 ('DELANCEY/ESSEX', 'Essex St'),
 ('NEWARK C', nan),
 ('GRD CNTRL-42 ST', 'Grand Central - 42 St'),
 ('170 ST', '170 St'),
 ('EAST 105 ST', 'E 105 St'),
 ('JKSN HT-ROOSVLT', 'Jackson Hts - Roosevelt Av'),
 ('KEW GARDENS', 'Kew Gardens - Union Tpke'),
 ('FULTON ST', 'Fulton St'),
 ('STEINWAY ST', 'Steinway St'),
 ('5 AV/53 ST', '5 Av/53 St'),
 ('116 ST-COLUMBIA', '116 St - Columbia University'),
 ('2 AV', '2 Av'),
 ('46 ST BLISS ST', '46 St'),
 ('WAKEFIELD/241', 'Wakefield - 241 St'),
 ('AVENUE P', 'Avenue P'),
 ('JUNCTION BLVD', 'Junction Blvd'),
 ('9TH STREET', nan),
 ('BROADWAY JCT', 'Broadway Jct'),
 ('BEACH 44 ST', 'Beach 44 St'),
 ('111 ST', '111 St'),
 ('174 ST', '174 St'),
 ('NORWOOD AV', 'Norwood Av'),
 ('MORISN AV/SNDVW', 'Morrison Av- Sound View'),
 ('96 ST', '96 St'),
 ('CYPRESS HILLS', 'Cypress Hills'),
 ('EUCLID AV', 'Euclid Av'),
 ('72 ST', '72 St'),
 ('88 ST', '88 St'),
 ('18 AV', '18 Av'),
 ('59 ST', 'Lexington Av/59 St'),
 ('82 ST-JACKSON H', '82 St - Jackson Hts'),
 ('CONEY IS-STILLW', 'Coney Island - Stillwell Av'),
 ('36 ST', 'Beach 36 St'),
 ('233 ST', '233 St'),
 ('MORRIS PARK', 'Morris Park'),
 ('BURKE AV', 'Burke Av'),
 ('CRESCENT ST', 'Crescent St'),
 ('65 ST', '65 St'),
 ('MONTROSE AV', 'Montrose Av'),
 ('FOREST AVE', 'Forest Av'),
 ('28 ST', '28 St'),
 ('4 AV-9 ST', '4 Av'),
 ('V.CORTLANDT PK', 'Van Cortlandt Park - 242 St'),
 ('PAVONIA/NEWPORT', nan),
 ('AQUEDUCT N.COND', 'Aqueduct - N Conduit Av'),
 ('25 AV', '25 Av'),
 ('HALSEY ST', 'Halsey St'),
 ('125 ST', '125 St'),
 ('CHURCH AV', 'Church Av'),
 ('CITY HALL', 'City Hall'),
 ('ASTORIA BLVD', 'Astoria Blvd'),
 ('EXCHANGE PLACE', nan),
 ('AVENUE J', 'Avenue J'),
 ('7 AV', '7 Av'),
 ('SMITH-9 ST', 'Smith - 9 Sts'),
 ('ATLANTIC AV', 'Atlantic Av'),
 ('3 AV', '3 Av'),
 ('36 AV', '36 Av'),
 ('RIT-ROOSEVELT', nan),
 ('59 ST', '59 St'),
 ('33 ST', '33 St'),
 ('50 ST', '50 St'),
 ('3 AV-149 ST', '3 Av - 149 St'),
 ('LEXINGTON AV/53', 'Lexington Av/53 St'),
 ('PARKCHESTER', 'Parkchester'),
 ('INWOOD-207 ST', 'Inwood - 207 St'),
 ('EASTN PKWY-MUSM', 'Eastern Pkwy - Brooklyn Museum'),
 ('THIRTY THIRD ST', nan),
 ('SPRING ST', 'Spring St'),
 ('145 ST', nan),
 ('1 AV', '1 Av'),
 ('WINTHROP ST', 'Winthrop St'),
 ('GRAND ST', 'Grand St'),
 ('SUTTER AV', 'Sutter Av'),
 ('169 ST', '169 St'),
 ('KNICKERBOCKER', 'Knickerbocker Av'),
 ('231 ST', '231 St'),
 ('JOURNAL SQUARE', nan),
 ('W 4 ST-WASH SQ', nan),
 ('HARLEM 148 ST', 'Harlem - 148 St'),
 ('AVENUE U', 'Avenue U'),
 ('BOTANIC GARDEN', 'Botanic Garden'),
 ('3 AV 138 ST', '3 Av - 138 St'),
 ('PRESIDENT ST', 'President St'),
 ('PARK PLACE', 'Grand Central - 42 St'),
 ('TWENTY THIRD ST', nan),
 ('AVENUE X', 'Avenue X'),
 ('NEWARK BM BW', nan),
 ('55 ST', '55 St'),
 ('FORDHAM RD', 'Fordham Rd'),
 ('AVENUE M', 'Avenue M'),
 ('20 AV', '20 Av'),
 ('NOSTRAND AV', 'Nostrand Av'),
 ('FREEMAN ST', 'Freeman St'),
 ('85 ST-FOREST PK', '85 St - Forest Pkwy'),
 ('QUEENSBORO PLZ', nan),
 ('CLEVELAND ST', 'Cleveland St'),
 ('BEACH 25 ST', 'Beach 25 St'),
 ('SHEEPSHEAD BAY', 'Sheepshead Bay'),
 ('ATL AV-BARCLAY', 'Atlantic Av - Barclays Ctr'),
 ('BLEECKER ST', 'Bleecker St'),
 ('ORCHARD BEACH', nan),
 ('103 ST-CORONA', '103 St - Corona Plaza'),
 ('25 ST', '25 St'),
 ('74 ST-BROADWAY', '74 St - Broadway'),
 ('CANAL ST', 'Canal St'),
 ('53 ST', '53 St'),
 ('69 ST', '69 St'),
 ('BEACH 60 ST', 'Beach 60 St'),
 ('CORTLANDT ST', 'Cortlandt St'),
 ('KINGSTON-THROOP', 'Kingston - Throop Avs'),
 ('GRAHAM AV', 'Graham Av'),
 ('W 8 ST-AQUARIUM', 'W 8 St - NY Aquarium'),
 ('191 ST', '191 St'),
 ('HOYT ST', 'Hoyt St'),
 ('ST LAWRENCE AV', 'St Lawrence Av'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd'),
 ('33 ST-RAWSON ST', '33 St'),
 ('PELHAM PKWY', 'Pelham Pkwy'),
 ('57 ST-7 AV', '57 St - 7 Av'),
 ('ROCKAWAY AV', 'Rockaway Av'),
 ('LIVONIA AV', 'Livonia Av'),
 ('PELHAM BAY PARK', 'Pelham Bay Park'),
 ('GRAND ARMY PLAZ', 'Grand Army Plaza'),
 ('HUNTERS PT AV', 'Hunters Point Av'),
 ('BAY RIDGE AV', 'Bay Ridge Av'),
 ('15 ST-PROSPECT', '15 St - Prospect Park'),
 ('4AV-9 ST', '9 St'),
 ('BAYCHESTER AV', 'Baychester Av'),
 ('BROOK AV', 'Brook Av'),
 ('LACKAWANNA', nan),
 ('GUN HILL RD', 'Gun Hill Rd'),
 ('138/GRAND CONC', '138 St - Grand Concourse'),
 ('FLUSHING-MAIN', 'Flushing - Main St')}

In [12]:
nans = [pair for pair in diff_stations if np.nan in pair]
print('{} Stations do not have location information: {} of total'.format(len(nans), len(nans)/len(diff_stations)))

369104 Stations do not have location information: 0.07021522034899116 of total

## Add new column for clean Station ID for use in visualizations

In [13]:
turns_loc['station_id'] = turns_loc['Stop Name'] + turns_loc['Line']

In [ ]:
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,station_id
0,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,05:00:00,REGULAR,669738,...,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509,Kingsbridge RdConcourse
1,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,09:00:00,REGULAR,669845,...,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509,Kingsbridge RdConcourse
2,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,13:00:00,REGULAR,669956,...,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509,Kingsbridge RdConcourse
3,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,17:00:00,REGULAR,670074,...,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509,Kingsbridge RdConcourse
4,N220,R155,01-00-02,KINGSBRIDGE RD,BD,IND,03/26/2016,21:00:00,REGULAR,670139,...,D04,IND,Concourse,Kingsbridge Rd,Bx,B D,Subway,40.866978,-73.893509,Kingsbridge RdConcourse

## Pickle the turnstile data with lat/longs

In [36]:
turns_loc.to_pickle('data/turns_data_locations.pkl')