In [42]:
import pandas as pd
import numpy as np
import datetime

In [48]:
def loadturndata(date):
    strdate = str(date)
    filename = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_'+strdate+'.txt'
    df = pd.read_csv(filename)
    #cleanup/standardize coulmn names
    df = df.rename(columns=lambda x: x.strip().lower())
    #combine date and time columns
    df['datetime'] = df['date'] + ' ' + df['time']
    #from object to datetime
    df['datetime_clean'] = [datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S') for x in df['datetime']]
    return df

In [53]:
def datelist():
    startdate = datetime.datetime(2017, 7, 1)
    datetimelist2017 = [startdate + ((timedelta(days=-7))*i) for i in range(14)]
    startdate = datetime.datetime(2016, 7, 2)
    datetimelist2016 = [startdate + ((timedelta(days=-7))*i) for i in range(14)]
    datetimelist = datetimelist2017 + datetimelist2016
    dateliststr = [i.strftime('%y%m%d') for i in datetimelist]
    return dateliststr

In [57]:
dates = datelist()

In [58]:
def loadturnlist(dates):
    data = pd.DataFrame()
    x = []
    for i in dates:
        df = (loadturndata(i))
        x.append(df)
    data = pd.concat(x)
    return data

In [59]:
final = loadturnlist(dates)

In [60]:
final.shape

(5481151, 13)

In [ ]:
final.to_csv('TurnstyleData.txt')

In [62]:
final.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits,datetime,datetime_clean
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/24/2017,00:00:00,REGULAR,6233682,2110437,06/24/2017 00:00:00,2017-06-24 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/24/2017,04:00:00,REGULAR,6233696,2110445,06/24/2017 04:00:00,2017-06-24 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/24/2017,08:00:00,REGULAR,6233712,2110473,06/24/2017 08:00:00,2017-06-24 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/24/2017,12:00:00,REGULAR,6233790,2110560,06/24/2017 12:00:00,2017-06-24 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/24/2017,16:00:00,REGULAR,6233942,2110622,06/24/2017 16:00:00,2017-06-24 16:00:00

In [ ]:
#read raw turnstile data into dataframe
df = final

#columns for activity in the block of time
df['entries_diff'] = df.groupby(['scp', 'station'])['entries'].diff()
df['exits_diff'] = df.groupby(['scp', 'station'])['exits'].diff()

In [36]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
484,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,23:00:00,REGULAR,7357001,156289
483,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,19:00:00,REGULAR,7356904,156283
482,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,15:00:00,REGULAR,7356709,156278
481,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,11:00:00,REGULAR,7356578,156275
480,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,07:00:00,REGULAR,7356521,156271
479,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/31/2017,03:00:00,REGULAR,7356507,156271
478,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,23:00:00,REGULAR,7356466,156269
477,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,19:00:00,REGULAR,7356302,156261
476,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,15:00:00,REGULAR,7356032,156252
475,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,11:00:00,REGULAR,7355854,156242
474,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,07:00:00,REGULAR,7355776,156239
473,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/30/2017,03:00:00,REGULAR,7355767,156239
502,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,23:00:00,REGULAR,7355733,156234
501,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,19:00:00,REGULAR,7355531,156224
500,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,15:00:00,REGULAR,7354997,156215
499,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,11:00:00,REGULAR,7354681,156212
498,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,07:00:00,REGULAR,7354484,156208
497,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/29/2017,03:00:00,REGULAR,7354467,156206
496,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,23:00:00,REGULAR,7354425,156203
495,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,19:00:00,REGULAR,7354206,156197
494,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,15:00:00,REGULAR,7353679,156195
493,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,11:00:00,REGULAR,7353404,156190
492,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,07:00:00,REGULAR,7353144,156181
491,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/28/2017,03:00:00,REGULAR,7353125,156180
490,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,23:00:00,REGULAR,7353077,156178
489,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,19:00:00,REGULAR,7352838,156161
488,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,15:00:00,REGULAR,7352218,156152
487,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,11:00:00,REGULAR,7351942,156142
486,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,07:00:00,REGULAR,7351712,156137
485,A002,R051,02-06-00,59 ST,NQR456W,BMT,12/27/2017,03:00:00,REGULAR,7351684,156136
...,...,...,...,...,...,...,...,...,...,...,...
23366,C021,R212,00-00-00,59 ST,NRW,BMT,01/02/2018,15:00:00,REGULAR,7876462,4153492
157651,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/02/2018,15:00:00,REGULAR,6562474,15542955
158401,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/02/2018,15:00:00,REGULAR,704021859,721623709
23365,C021,R212,00-00-00,59 ST,NRW,BMT,01/02/2018,11:00:00,REGULAR,7876099,4153278
157650,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/02/2018,11:00:00,REGULAR,6562315,15542515
158400,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/02/2018,11:00:00,REGULAR,704022104,721623601
23364,C021,R212,00-00-00,59 ST,NRW,BMT,01/02/2018,07:00:00,REGULAR,7875239,4153083
157649,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/02/2018,07:00:00,REGULAR,6562273,15541256
158399,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/02/2018,07:00:00,REGULAR,704022188,721623547
23363,C021,R212,00-00-00,59 ST,NRW,BMT,01/02/2018,03:00:00,REGULAR,7874985,4153038
157648,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/02/2018,03:00:00,REGULAR,6562262,15541087
158398,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/02/2018,03:00:00,REGULAR,704022221,721623543
23362,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,23:00:00,REGULAR,7874967,4153012
157647,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,23:00:00,REGULAR,6562253,15541062
158397,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,23:00:00,REGULAR,704022243,721623540
23361,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,19:00:00,REGULAR,7874878,4152930
157646,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,19:00:00,REGULAR,6562203,15540975
158396,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,19:00:00,REGULAR,704022456,721623526
23360,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,15:00:00,REGULAR,7874661,4152796
157645,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,15:00:00,REGULAR,6562112,15540735
158395,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,15:00:00,REGULAR,704022809,721623457
23359,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,11:00:00,REGULAR,7874418,4152725
157644,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,11:00:00,REGULAR,6562062,15540492
158394,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,11:00:00,REGULAR,704022968,721623423
23358,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,07:00:00,REGULAR,7874151,4152680
157643,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,07:00:00,REGULAR,6562053,15540343
158393,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,07:00:00,REGULAR,704022993,721623417
23357,C021,R212,00-00-00,59 ST,NRW,BMT,01/01/2018,03:00:00,REGULAR,7874105,4152662
157642,R244,R050,00-00-00,59 ST,456NQRW,IRT,01/01/2018,03:00:00,REGULAR,6562047,15540308
158392,R245,R051,00-00-00,59 ST,456NQRW,IRT,01/01/2018,03:00:00,REGULAR,704023019,721623414

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,03:00:00,REGULAR,6470216,2190123
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,07:00:00,REGULAR,6470223,2190140
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,11:00:00,REGULAR,6470256,2190229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,15:00:00,REGULAR,6470379,2190299
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,19:00:00,REGULAR,6470665,2190366