In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#read raw turnstile data into dataframe

df = pd.read_csv('turnstile_test.csv')

In [27]:
#cleaning up the columns and merging id + datetime

df = df.rename(columns=lambda x: x.strip().lower())

df['id'] = df['station'].map(str) + ' ' + df['scp']
df['datetime'] = df['date'] + ' ' + df['time']

clean_df = df.drop(columns=['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc'])

clean_df['datetime_clean'] = [datetime.datetime.strptime(x, '%m/%d/%Y %H:%M:%S') for x in clean_df['datetime']]
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201118 entries, 0 to 201117
Data columns (total 5 columns):
entries           201118 non-null int64
exits             201118 non-null int64
id                201118 non-null object
datetime          201118 non-null object
datetime_clean    201118 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 7.7+ MB

In [9]:
def column_diff(df, col):
    """
    takes a dataframe and a column with numeric values
    finds the index for min and max values within the column
    returns the difference between min and max values
    """
    max_index = df[col].idxmax()
    min_index = df[col].idxmin()
    
    total = df.loc[max_index].get(col) - df.loc[min_index].get(col)
    
    return total

In [28]:
clean_df['entries_diff'] = clean_df.groupby('id')['entries'].diff()

In [29]:
clean_df.head(10)

,entries,exits,id,datetime,datetime_clean,entries_diff
0,6470216,2190123,59 ST 02-00-00,01/06/2018 03:00:00,2018-01-06 03:00:00,NaN
1,6470223,2190140,59 ST 02-00-00,01/06/2018 07:00:00,2018-01-06 07:00:00,7.0
2,6470256,2190229,59 ST 02-00-00,01/06/2018 11:00:00,2018-01-06 11:00:00,33.0
3,6470379,2190299,59 ST 02-00-00,01/06/2018 15:00:00,2018-01-06 15:00:00,123.0
4,6470665,2190366,59 ST 02-00-00,01/06/2018 19:00:00,2018-01-06 19:00:00,286.0
5,6470809,2190398,59 ST 02-00-00,01/06/2018 23:00:00,2018-01-06 23:00:00,144.0
6,6470843,2190405,59 ST 02-00-00,01/07/2018 03:00:00,2018-01-07 03:00:00,34.0
7,6470849,2190411,59 ST 02-00-00,01/07/2018 07:00:00,2018-01-07 07:00:00,6.0
8,6470884,2190488,59 ST 02-00-00,01/07/2018 11:00:00,2018-01-07 11:00:00,35.0
9,6471042,2190530,59 ST 02-00-00,01/07/2018 15:00:00,2018-01-07 15:00:00,158.0