In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#read raw turnstile data into dataframe

df = pd.read_csv('turnstile_test.csv')

In [12]:
#cleaning up the columns and merging id + datetime

df = df.rename(columns=lambda x: x.strip().lower())

df['id'] = df['station'].map(str) + ' ' + df['scp']
df['datetime'] = df['date'] + ' ' + df['time']

clean_df = df.drop(columns=['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc'])
clean_df.head(10)

   entries    exits              id             datetime
0  6470216  2190123  59 ST 02-00-00  01/06/2018 03:00:00
1  6470223  2190140  59 ST 02-00-00  01/06/2018 07:00:00
2  6470256  2190229  59 ST 02-00-00  01/06/2018 11:00:00
3  6470379  2190299  59 ST 02-00-00  01/06/2018 15:00:00
4  6470665  2190366  59 ST 02-00-00  01/06/2018 19:00:00
5  6470809  2190398  59 ST 02-00-00  01/06/2018 23:00:00
6  6470843  2190405  59 ST 02-00-00  01/07/2018 03:00:00
7  6470849  2190411  59 ST 02-00-00  01/07/2018 07:00:00
8  6470884  2190488  59 ST 02-00-00  01/07/2018 11:00:00
9  6471042  2190530  59 ST 02-00-00  01/07/2018 15:00:00

In [9]:
def column_diff(df, col):
    """
    takes a dataframe and a column with numeric values
    finds the index for min and max values within the column
    returns the difference between min and max values
    """
    max_index = df[col].idxmax()
    min_index = df[col].idxmin()
    
    total = df.loc[max_index].get(col) - df.loc[min_index].get(col)
    
    return total

In [ ]:
for row in clean_df: