In [57]:
import pandas as pd
import matplotlib.pyplot as plt
import
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [58]:
#read raw turnstile data into dataframe

df = pd.read_csv('turnstile_test.csv')

In [59]:
#entries and exits are both type int

#df.info()

In [60]:
#column names

#df.columns

In [61]:
df = df.rename(columns=lambda x: x.strip().lower())

In [62]:
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits'],
      dtype='object')

In [63]:
df['id'] = df['station'].map(str) + ' ' + df['scp']
df['datetime'] = df['date'] + ' ' + df['time']

#pd.to_datetime(df['datetime'])
new_df = df.drop(columns=['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc'])

pd.to_datetime(new_df['datetime'], format='%m/%d/%Y %H:%M:%S')

new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201118 entries, 0 to 201117
Data columns (total 4 columns):
entries     201118 non-null int64
exits       201118 non-null int64
id          201118 non-null object
datetime    201118 non-null object
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [45]:
sorted_df = df.groupby(['station', 'scp'])


sorted_df['entries_actual'] = sorted_df.entries.diff()
#pair_source = sorted_df.head(1)

#ps2 = pair_source[['scp', 'station', 'date', 'time', 'entries', 'exits']]
#ps2

In [56]:
new_sort = df.groupby(['c/a', 'unit', 'station'])

grouped = new_sort.aggregate(np.diff)

grouped

ValueError: Function does not reduce

In [132]:
n={}
for row in pair_source.iterrows():
    n.append(row['entries'])
n

TypeError: tuple indices must be integers or slices, not str

In [79]:
#each turnstile has 42 entries, 6 per day by 7 days
#ts is the first turnstile listed

ts = df.sample(5, random_state=666)
tt = df.head(5)

In [81]:
ts

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
179036,R507,R134,00-00-03,HUNTERS PT AV,7,IRT,01/06/2018,16:00:00,REGULAR,2780573,3266290
156540,R241A,R048,00-00-01,GRD CNTRL-42 ST,4567S,IRT,01/07/2018,00:00:00,RECOVR AUD,4522994,3140269
22802,C018,R197,00-00-05,36 ST,DNR,BMT,01/11/2018,20:00:00,REGULAR,7757491,1617356
47101,N044,R187,00-03-00,81 ST-MUSEUM,BC,IND,01/08/2018,20:00:00,REGULAR,8195629,12893267
178458,R503,R276,01-00-02,VERNON-JACKSON,7,IRT,01/08/2018,11:00:00,REGULAR,861249,11312633

In [82]:
tt

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,03:00:00,REGULAR,6470216,2190123
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,07:00:00,REGULAR,6470223,2190140
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,11:00:00,REGULAR,6470256,2190229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,15:00:00,REGULAR,6470379,2190299
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,19:00:00,REGULAR,6470665,2190366

In [34]:
#for i, row in ts.iterrows():
    

#df[['newcol1', 'col3']].sub(df['col5'], axis=0)

In [75]:
#stiles = df.SCP.unique()
#stiles[0]

In [76]:
#max_index = ts['ENTRIES'].idxmax()
#min_index = ts['ENTRIES'].idxmin()

#ts.loc[max_index].get('ENTRIES') - ts.loc[min_index].get('ENTRIES')
#max_value = ts.loc[max_index].get('ENTRIES')
#min_value = ts.loc[min_index].get('ENTRIES')

#total_entries = max_value - min_value
#total_entries

In [120]:
n=[]

for x in df['station'].unique():
    #for scp in sorted_df['scp'].unique():
    n.append(x)
                
df.loc[0, 'entries']

6470216

In [51]:
#define a function that takes a dataframe and numeric column
#assign values to the max and min values in the column
#return the difference
def column_diff(df, col):
    
    max_index = df[col].idxmax()
    min_index = df[col].idxmin()
    
    total = df.loc[max_index].get(col) - df.loc[min_index].get(col)
    
    return total

In [56]:
column_diff(ts, 'exits') + column_diff(ts, 'entries')

1561017

In [72]:
n = 0

for x in ts['scp'].unique():
    n+=1
    
n

2

In [79]:
#scpdf = df.loc[df.SCP=='02-00-00']
#scpdf.STATION.unique()

In [80]:
#stations = df.STATION.unique()
#df.loc[(df.STATION=='59 ST')&(df.SCP=='02-00-00')]

In [58]:
scp = df.scp.unique()
station = df.station.unique()
tups = []

for t in station:
    for c in scp:
        tups.append([t, c])
        
#tups

In [ ]:
#write a function that:
#1) identifies the unique pairs of scp and station
#2) finds values for entry and exit at min and max indices
#3) returns the abs(difference) for both and combines them
#4) if station has more than one value combine them

def station_traffic(dataframe):
    #make a list of unique stiles
    stiles = dataframe.SCP.unique()
    #iterate through the list and calculate traffic
    for stile in stiles: