In [29]:
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [30]:
#read raw turnstile data into dataframe

df = pd.read_csv('turnstile_test.csv')

In [115]:
#entries and exits are both type int

#df.info()

In [71]:
#column names

#df.columns

In [31]:
df = df.rename(columns=lambda x: x.strip().lower())

In [32]:
df.columns

Index(['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time',
       'desc', 'entries', 'exits'],
      dtype='object')

In [28]:
df['id'] = df['station'].map(str) + ' ' + df['scp']
df['datetime'] = df['date'] + ' ' + df['time']

#pd.to_datetime(df['datetime'])
new_df = df.drop(columns=['c/a', 'unit', 'scp', 'station', 'linename', 'division', 'date', 'time', 'desc'])

pd.to_datetime(new_df['datetime'], format='%m/%d/%Y %H:%M:%S')

new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201118 entries, 0 to 201117
Data columns (total 4 columns):
entries     201118 non-null int64
exits       201118 non-null int64
id          201118 non-null object
datetime    201118 non-null object
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [6]:
sorted_df = df.groupby(['station', 'scp'])

pair_source = sorted_df.head(1)

ps2 = pair_source[['scp', 'station', 'date', 'time', 'entries', 'exits']]
ps2

             scp        station        date      time    entries     exits
0       02-00-00          59 ST  01/06/2018  03:00:00    6470216   2190123
42      02-00-01          59 ST  01/06/2018  03:00:00    5813976   1297144
84      02-03-00          59 ST  01/06/2018  03:00:00    1024150   3792711
126     02-03-01          59 ST  01/06/2018  03:00:00     556318    865175
168     02-03-02          59 ST  01/06/2018  03:00:00    5638998   7711849
210     02-03-03          59 ST  01/06/2018  03:00:00    5248199   6154131
251     02-03-04          59 ST  01/06/2018  03:00:00    6564068   3479591
293     02-03-05          59 ST  01/06/2018  03:00:00   10575688   1343352
335     02-03-06          59 ST  01/06/2018  03:00:00    8314527    487785
377     02-05-00          59 ST  01/06/2018  03:00:00       1458         0
419     02-05-01          59 ST  01/06/2018  03:00:00          0       755
461     02-06-00          59 ST  01/06/2018  03:00:00    7362756    156376
503     00-00-00     5 AV/59 ST  01/06/2018  01:00:00    3179410   5399069
545     00-00-01     5 AV/59 ST  01/06/2018  01:00:00    4378029   2732215
587     00-00-02     5 AV/59 ST  01/06/2018  01:00:00    5644339  16250050
628     00-00-03     5 AV/59 ST  01/06/2018  01:00:00    2541618    937480
669     00-00-04     5 AV/59 ST  01/06/2018  01:00:00    7255808   3179447
711     00-03-00     5 AV/59 ST  01/06/2018  01:00:00    8584959   3797868
753     00-03-01     5 AV/59 ST  01/06/2018  01:00:00    2701649   1438717
794     00-03-02     5 AV/59 ST  01/06/2018  01:00:00   14706545  15127715
836     01-05-00     5 AV/59 ST  01/06/2018  01:00:00       3089         0
880     01-05-01     5 AV/59 ST  01/06/2018  01:00:00          1      1225
924     01-06-00     5 AV/59 ST  01/06/2018  01:00:00    3280068   6807806
968     01-06-01     5 AV/59 ST  01/06/2018  01:00:00  118703000   1895926
1012    01-06-02     5 AV/59 ST  01/06/2018  01:00:00    4401543   1845072
1056    01-06-03     5 AV/59 ST  01/06/2018  01:00:00    6659141   2513707
1100    00-00-00     57 ST-7 AV  01/06/2018  03:00:00    2999023   1313332
1144    00-00-01     57 ST-7 AV  01/06/2018  03:00:00   14173048   5280789
1188    00-00-02     57 ST-7 AV  01/06/2018  03:00:00   10312179   4003372
1232    00-00-03     57 ST-7 AV  01/06/2018  03:00:00    2876732   1424573
...          ...            ...         ...       ...        ...       ...
199780  00-03-01     ST. GEORGE  01/06/2018  03:00:00    1266687        92
199823  00-03-02     ST. GEORGE  01/06/2018  03:00:00    1245438        91
199866  00-03-03     ST. GEORGE  01/06/2018  03:00:00    1415862       224
199909  01-00-00     ST. GEORGE  01/06/2018  03:00:00    2719056     23418
199951  01-00-01     ST. GEORGE  01/06/2018  03:00:00   84062812      3340
199993  01-00-02     ST. GEORGE  01/06/2018  03:00:00    3188073     20235
200034  01-00-03     ST. GEORGE  01/06/2018  03:00:00    2293718       352
200075  01-00-04     ST. GEORGE  01/06/2018  03:00:00    2192505     29114
200117  01-00-05     ST. GEORGE  01/06/2018  03:00:00     756701        40
200159  01-00-06     ST. GEORGE  01/06/2018  03:00:00    1609708       307
200201  01-03-00     ST. GEORGE  01/06/2018  03:00:00    1884488       201
200243  01-03-01     ST. GEORGE  01/06/2018  03:00:00    1602810       202
200285  01-03-02     ST. GEORGE  01/06/2018  03:00:00     150347         4
200327  01-03-03     ST. GEORGE  01/06/2018  03:00:00    1168657       197
200369  01-05-00     ST. GEORGE  01/06/2018  03:00:00        779         0
200411  01-05-01     ST. GEORGE  01/06/2018  03:00:00        508         0
200453  00-00-00  TOMPKINSVILLE  01/06/2018  01:00:00     515960        12
200506  00-00-01  TOMPKINSVILLE  01/06/2018  01:00:00     515879      4294
200559  00-03-00  TOMPKINSVILLE  01/06/2018  01:00:00     500243        13
200612  00-03-01  TOMPKINSVILLE  01/06/2018  01:00:00    7412415   2410682
200665  00-03-02  TOMPKINSVILLE  01/06/2018  01:00:00     222672         3
200718  00-05-00  TOMPKINSVILLE  01/06/2018  01:00:00     262305     65536
200771  00-05-01  TOMPKINSVILLE  01/06/2018  01:00:00        142         0
200824  00-00-00  RIT-MANHATTAN  01/06/2018  00:00:00       3966       298
200866  00-00-01  RIT-MANHATTAN  01/06/2018  00:00:00       5812       261
200908  00-00-02  RIT-MANHATTAN  01/06/2018  00:00:00    1700282     23391
200950  00-00-00  RIT-ROOSEVELT  01/06/2018  00:00:00     495639     18839
200992  00-00-01  RIT-ROOSEVELT  01/06/2018  00:00:00    2850304    384347
201034  00-03-00  RIT-ROOSEVELT  01/06/2018  00:00:00    3932594     56932
201076  00-03-01  RIT-ROOSEVELT  01/06/2018  00:00:00    2448799     27579

[4164 rows x 6 columns]

In [132]:
n={}
for row in pair_source.iterrows():
    n.append(row['entries'])
n

TypeError: tuple indices must be integers or slices, not str

In [79]:
#each turnstile has 42 entries, 6 per day by 7 days
#ts is the first turnstile listed

ts = df.sample(5, random_state=666)
tt = df.head(5)

In [81]:
ts

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
179036,R507,R134,00-00-03,HUNTERS PT AV,7,IRT,01/06/2018,16:00:00,REGULAR,2780573,3266290
156540,R241A,R048,00-00-01,GRD CNTRL-42 ST,4567S,IRT,01/07/2018,00:00:00,RECOVR AUD,4522994,3140269
22802,C018,R197,00-00-05,36 ST,DNR,BMT,01/11/2018,20:00:00,REGULAR,7757491,1617356
47101,N044,R187,00-03-00,81 ST-MUSEUM,BC,IND,01/08/2018,20:00:00,REGULAR,8195629,12893267
178458,R503,R276,01-00-02,VERNON-JACKSON,7,IRT,01/08/2018,11:00:00,REGULAR,861249,11312633

In [82]:
tt

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,03:00:00,REGULAR,6470216,2190123
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,07:00:00,REGULAR,6470223,2190140
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,11:00:00,REGULAR,6470256,2190229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,15:00:00,REGULAR,6470379,2190299
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/06/2018,19:00:00,REGULAR,6470665,2190366

In [34]:
#for i, row in ts.iterrows():
    

#df[['newcol1', 'col3']].sub(df['col5'], axis=0)

In [75]:
#stiles = df.SCP.unique()
#stiles[0]

In [76]:
#max_index = ts['ENTRIES'].idxmax()
#min_index = ts['ENTRIES'].idxmin()

#ts.loc[max_index].get('ENTRIES') - ts.loc[min_index].get('ENTRIES')
#max_value = ts.loc[max_index].get('ENTRIES')
#min_value = ts.loc[min_index].get('ENTRIES')

#total_entries = max_value - min_value
#total_entries

In [120]:
n=[]

for x in df['station'].unique():
    #for scp in sorted_df['scp'].unique():
    n.append(x)
                
df.loc[0, 'entries']

6470216

In [51]:
#define a function that takes a dataframe and numeric column
#assign values to the max and min values in the column
#return the difference
def column_diff(df, col):
    
    max_index = df[col].idxmax()
    min_index = df[col].idxmin()
    
    total = df.loc[max_index].get(col) - df.loc[min_index].get(col)
    
    return total

In [56]:
column_diff(ts, 'exits') + column_diff(ts, 'entries')

1561017

In [72]:
n = 0

for x in ts['scp'].unique():
    n+=1
    
n

2

In [79]:
#scpdf = df.loc[df.SCP=='02-00-00']
#scpdf.STATION.unique()

In [80]:
#stations = df.STATION.unique()
#df.loc[(df.STATION=='59 ST')&(df.SCP=='02-00-00')]

In [58]:
scp = df.scp.unique()
station = df.station.unique()
tups = []

for t in station:
    for c in scp:
        tups.append([t, c])
        
#tups

In [ ]:
#write a function that:
#1) identifies the unique pairs of scp and station
#2) finds values for entry and exit at min and max indices
#3) returns the abs(difference) for both and combines them
#4) if station has more than one value combine them

def station_traffic(dataframe):
    #make a list of unique stiles
    stiles = dataframe.SCP.unique()
    #iterate through the list and calculate traffic
    for stile in stiles: